#paginMain{
	width:100%;
	margin:0px;
	padding:0px;
}
#pagingMove{
    overflow: hidden;
    background:#434343;
    width: 570px;
    margin: 0px auto;
    padding: 10px 10px 10px 10px;
    margin: 0px auto;
    background: rgba(80, 51, 51, 0.18);
}
#pagingMove>span{
    /*overflow: hidden;*/
    /*box-shadow: 6px;*/
    background: rgba(34, 34, 34, 0.1);
width:20px;
height:50px;
overflow: hidden;
    padding: 10px 10px 10px 10px;
    font-size: 4px;
    text-align: center;
    /*background: red;*/


}
#pagingMove>.pagingMapKeep:hover {
	
	cursor: pointer;

}
.pagingMapKeep:hover{
	background:red;
}
#pagingMove>span>input{
    width:24px;
}
.pagingMapKeep:hover{
    background-color: red;
    border:1px solid red;
}
