body {
	/*overflow-y:hidden;*/
	background: #F5F5F5;
}

a {
	text-decoration: none;
	font-size: 15px;
	color: red;
}

#header_frame {
	height: 80px;
	width: 100%;
	background: #D82E5F;
	margin-top: 0px;
}

#nav_frame {
	margin: 0 auto;
	padding: 0px;
	/*margin-top: 10px;*/
	text-decoration: none;
	/*width: 1024px;*/
	/*height: 56px;*/
	overflow: hidden;
}

#nav_frame span {
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	border-radius: 25px;
	padding-top: 10px;
	font-size: 20px;
	border: 2px solid rgba(193, 108, 21, 0.82);
	width: 60px;
	/* height: 25px; */
	text-align: center;
	display: inline-block;
	color: rgb(255, 255, 255);
	background: rgba(0, 231, 255, 0.15);
	font-size: inherit;
	font-weight: inherit;
	font-size: 12px;
}

#nav_frame span:hover {
	color: white;
	font-weight: bolder;
	bordr-width: 0px;
	border-radius: 25px;
	background: #FF5000;
	border-right: 3px solid black;
	box-shadow: 3px 3px #444;
	cursor: pointer;
}

#nav_frame span a:hover {
	color: white;
	font-weight: bolder;
	cursor: pointer;
}

#container {
	width: 1024px;
	height: 500px;
	margin: 0 auto;
}

#content {
	width: 29%;
	float: left;
}

#contentOne {
	width: 100%;
	background: rgba(255, 193, 7, 0.22);
	border-radius: 25px;
}

#middle {
	width: 1%;
	background: rgba(119, 204, 119, 0.89);
	display: inline-block;
	height: 437px;
	border-radius: 125px;
	margin-top: 90px;
}

#sideber {
	width: 70%;
	/*background: #e6e6e6;*/
	float: right;
	padding-bottom: 20px;
}

/*//*/
#table_style {
	width: 50%;
	height: 100px;
	border: 2px solid red;
}

#table_style>tr>td {
	font-size: 14px;
	border: 2px solid green;
}
/*regedit*/
#regedit_form {
	width: 600px;
	margin: 0 auto;
	margin-top: 58px;
	height: 480px;
	background: rgba(128, 196, 166, 0.41);
	border-radius: 25px;
	padding: 35px 59px;
}

#regedit>div span {
	padding-top: 10px;
	margin-bottom: 2px;
	font-size: 14px;
	border-radius: 25px;
	height: 30px;
}

#regedit>div span:FIRST-child {
	display: inline-block;
	font-size: 14px;
	width: 90px;
	text-align: center;
	vertical-align: middle;
	background: #89D8B5;
	box-shadow: -3px 2px rgba(0, 0, 0, .5);
}

#regedit>div>span>input, select, option {
	margin-top: 3px;
	background: rgba(158, 158, 158, 0.33);
	display: inline-block;
	height: 34px;
	border-radius: 25px;
	margin-left: 33px;
	width: 150px;
	color: white;
	font-weight: bolder;
	text-align: center;
}

#regedit>div>span>input, select, option:hover {
	background: ##ff8080;
	cursor: pointer;
}

#regedit>div>span>input:hover {
	background: #D82E5F;
	cursor: pointer;
}

#regedit input[type="submit"] {
	height: 34px;
	width: 180px;
	border-radius: 25px;
	box-shadow: 20px;
	background: #ff5959;
}

#regedit input[type="submit"]:hover {
	background: #990000;
	color: white;
	font-weight: border;
	cursor: pointer;
}

.success_input {
	margin-top: 45px;
	margin-left: 3px;
	color: green;
	font-size: x-small; /*字体大小*/
	font-family: 宋体;
	font-weight: 200;
	font-style: normal;
}

.error_input {
	/*color: red;*/
	font-size: 5px;
	font-family: 隶书;
	font-weight: 200;
	font-style: normal;
	border-radius: 25px;
	color: white;
	border-color: red;
	border-width: 1px;
}
/*login*/
#login_back_from {
	padding-top: 100px;
	width: 100%;
	height: 240px;
	/* overflow: hidden; */
}

#login_from {
	    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    width: 80%;
    background: rgba(0, 150, 74, 0.59);
    margin: 0 auto;
    box-shadow: 0px -4px rgba(51, 51, 51, 0.45);
}

/*producTretrieval*/
#producTretrieva, #loginOk {
	width: 80%;
	margin: 0 auto;
	height: 85px;
	/*background:cyan;*/
	/*border:3px dotted black;*/
	display: block;
}

#showProducts_todo {
	background: rgba(255, 0, 0, 0.66);
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	font-weight: bolder;
}

#loginOk {
	padding-top: 6px;
	padding-bottom: 20px;
	text-align: center;
	border-radius: 35px;
	background: rgb(26, 188, 156);
	height: 125px;
	margin-top: 86px;
	box-shadow: 0px 13px rgb(231, 209, 155);
}

#loginOk>span {
	display: block;
	height: 41px;
	font-size: 23px;
	font-weight: bolder;
	line-height: 44px;
}

#producTretrieval {
	width: 50%;
    margin: 0 auto;
    height: 50px;
    background: #B39768;
    border: 3px dotted #DC3939;
    display: block;
    margin-top: 55px;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
}

#producTretrieval>span>input {
	font-size: 25px;
	margin-top: 2px;
	height: 40px;
	background: none;
	border: 0px solid #990000;
}

#producTretrieval>sapn>input:hover {
	color: white;
	font-weight: border;
	background: none;
	border: 0px solid #990000;
	cursor: pointer;
}

#producTretrieval:hover {
	background: #990011;
	color: white;
	font-weight: border;
	box-shadow: 2px 5px;
	cursor: pointer;
}

#producTretrieva>span {
	width: 100%;
	margin: 0 auto;
	height: 60px;
	/*background:black;*/
	padding: 0;
	/*border:3px dotted black;*/
}

#producTretrieva>span>input {
	width: 100%;
	height: 52px;
	border: 3px dotted #D82E5F;
	border-radius: 25px;
}
/*showProduct_from*/
#showProduct_from {
	height: 620px;
	width: 95%;
	margin-top: 55px;
	background: rgba(212, 140, 9, 0.14);
	overflow: hidden;
	padding-top: 6px;
	border-radius: 25px;
	border: 14px;
	padding-left: 35px;
	overflow-y: scroll;
}

#showProducts_id {
	display: none;
}

#showProducts_froword {
	text-decoration: none;
	font-size: 14px;
	color: red;
}

#showProducts_froword {
	border: 2px solid red;
	border-radius: 25px;
	cursor: pointer;
}

#showProducts_froword:hover {
	border: 2px dotted red;
	color: black;
	cursor: pointer;
}

#showProduct_from span>img:first-child {
	height: 180px;
	width: 40%;
	background: rgba(253, 0, 0, 0.48);
	border: 7px solid rgba(169, 68, 66, 0.39);
	border-radius: 25px;
	border-width: 12px;
	margin-bottom: 3px;
}

#showProduct_clom {
	display: inline-block;
	padding-top: 15px;
}

#showProduct_clom>span {
	display: block;
	font-size: 22px;
	margin-left: 80px;
	line-height: 20px;
	margin-top: 5px;
	padding-top: 0px;
}
/*Seek*/
.seek_align {
	text-align: center;
	border: 0px;
}

#seeks:hover {
	background: #666;
	cursor: pointer;
}

.seek_option:nth-child(n) {
	background: #888;
	transition: all 0.8s ease-in 0.3s, color 0.6s ease-out 0.3s;
}

.seek_option:nth-child(2n) {
	background: #555;
	transition: all 0.8s ease-in 0.3s, color 0.6s ease-out 0.3s;
}

/*warn*/
#warn {
	/*display: none;*/
	color: red;
	border: 2px solid black;
}
/*#warns{
display: flex;
position: relative;
top: -36px;
background: red;
border-radius: 29px;
text-align: center;
height: 10px;
width: 10px;
}*/
/*//displayorder*/
#showProduct_from_header #showProduct_from_context {
	background: red;
	width: 7%;
	width: 20px;
	color: black;
	margin: 0 auto;
	margin-top: 20px;
}

#showProduct_from_header {
	color: black;
	margin: 0 auto;
	margin-top: 20px;
}

#showProduct_from_header>span {
	display: inline-table;
	width: 100px;
	background: beige;
	border: 1px solid #444;
	text-align: center;
	font-size: x-large;
	border-radius: 6px;
	box-shadow: 0px 4px rgb(51, 51, 51);
	color: rebeccapurple;
	font-family: cursive;
}

#showProduct_from_context {
	color: black;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 12px;
}

#showProduct_from_context span {
	display: inline-table;
	background: rgb(216, 46, 95);
	text-align: center;
	font-size: 14px;
	height: 21px;
	width: 16%;
	color: white;
	border: none;
	border-right: 2px solid #FFC107;
	font-family: cursive;
	border-radius: 4px;
}

#showProduct_from_context span:hover {
	background: red;
	border-left: 2px solid #FFC107;
	color: black;
	cursor: pointer;
}

#ShoppingCart_from {
	width: 100%;
}

#showProduct_from_contexts>span {
	display: inline-table;
	background: rgb(254, 161, 22);
	text-align: center;
	font-size: 14px;
	height: 36px;
	width: 19%;
	border: none;
	border-right: 2px solid #D82E5F;
	font-family: fantasy;
}

#showProduct_from_contexts>span:nth-child(2n) {
	background: rgb(81, 177, 123);
}

#showProduct_from_contexts>span:nth-child(2n):hover {
	background: #FFC107;
	color: black;
	cursor: pointer;
}

#showProduct_from_contexts>span:nth-child(2n+1):hover {
	background: green;
	color: red;
	cursor: pointer;
}

.ShoppingCart_from_all {
	bacgrounnd: red;
	color: white;
	height: 20px;
}

#showProduct_from_both {
	display: inline-block;
	width: 50%;
	text-align: center;
}

#retrievalCart-styles {
	width: 100%;
}

#retrievalCart_style>span {
	display: inline-block;
	width: 14%;
	font-family: cursive;
	overflow: hidden;
}

.retrievalCart-styles {
	/* width: 20px; */
	color: black;
	margin: 0 auto;
	margin-top: 20px;
	color: black;
	border: 3px solid #3c763d;
	border-radius: 20px;
	margin-right: 0px;
	box-shadow: -1px -3px #999;
	font-size: 16px;
}
/*alterRetrievalCart*/
#showProduct_from_alter {
	height: 250px;
	width: 90%;
	margin-top: 55px;
	background: rgba(212, 140, 9, 0.14);
	overflow: hidden;
	padding-top: 6px;
	border-radius: 17px;
	border: 17px;
	padding-left: 20px;
	/* overflow-y: scroll; */
	padding-right: 20px;
}
/*retrievalCart_style_alter*/
#showProduct_from_alter_alert>input {
	border-radius: 25px;
	background: none;
}

#showProduct_from_alter_alert>span {
	border-radius: 25px;
}

#retrievalCart_style>span>input {
	border-radius: 6px 0px 64px 14px;
	background: #7EC4A6;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 21px;
	box-shadow: 20px 6px #f81d5a;
	width: 90px;
}

#retrievalCart_style>span>input:hover {
	box-shadow: 20px 6px white;
	cursor: pointer;
}
#panch_from_header>span {
	display: inline-table;
	width: 114px;
	background: beige;
	border: 1px solid #444;
	text-align: center;
	font-size: x-large;
	border-radius: 6px;
	box-shadow: 0px 4px rgb(51, 51, 51);
	color: rebeccapurple;
	font-family: cursive;
	    margin-top: 50px;
}