<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="damo.mapper.PagingMapper">
	<!-- paging查询 设置默认欲查询条数 -->
	<!-- SELECT * FROM USER LIMIT 9, 10 -->
	<select id="pagingUserDefault" parameterType="_int" resultType="User">
		SELECT *
		FROM USER LIMIT 0, #{id}
	</select>
	<!-- 遍历所有数据 -->
	<!-- SELELCT COUNT(*) AS 及格人数 FROM Score WHERE Score >=60 -->
	<select id="pagingUserCount" resultType="_int">
		SELECT COUNT(`user_id`)
		FROM `user`
	</select>
	<!-- SELECT * FROM USER LIMIT 9, 10 -->
	<select id="pagingUserLimit" parameterType="map" resultType="User">
		SELECT *
		FROM USER LIMIT ${begin}, ${end}
	</select>
</mapper>  