<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="damo.mapper.UserDetaildeMapper">
	<insert id="addUserDetailde" parameterType="UserDetailde">
		INSERT INTO
		userdetailde ( `user_name`, `password`, `real_name`,
		`mobile`, `email`,
		`password_question`, `password_hint_answer`,
		`auth`,
		`picture`,`uniqueness_code`) VALUES
		(
		#{user_name},#{password},#{real_name},#{mobile},#{email},#{password_question},#{password_hint_answer},#{auth},#{picture},#{uniqueness_code})

	</insert>
	<!-- 查找一条数据 int -->
	<select id="getUserDetailde" parameterType="_int" resultType="UserDetailde">
		select *
		from userdetailde where id= #{id}
	</select>
	<!-- 删除一条数据 -->
	<delete id="delOneUserDetailde" parameterType="String">
		delete from
		userdetailde where
		id= #{id}
	</delete>
	<!-- 查找一条数据 String -->
	<select id="findOneUserDetailde" parameterType="String"
		resultType="UserDetailde">
		select *
		from userdetailde where uniqueness_code= #{id}
	</select>
	<!-- 更改一条数据 -->
	<update id="alertOneUserDetailde" parameterType="UserDetailde">
		UPDATE
		userdetailde
		SET
		user_name = #{user_name},
		password = #{password},
		mobile
		= #{mobile},
		email = #{email},
		picture = #{picture},
		real_name =
		#{real_name},
		password_question = #{password_question},
		password_hint_answer = #{password_hint_answer}
		WHERE uniqueness_code=
		#{uniqueness_code};
	</update>

</mapper>
